@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz@10..100&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.imbue-title {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

body{
  background-color: #F5DDE0;
  margin:0;
  padding:0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #F3F1C5;
  border-bottom: 1px solid #ddd;
  height: 35px;
}
.title {
  text-align: center; 
}
.title h1 {
  font-size:1em;
  margin: 0;
  color: #121111;
}
.title-container {
  text-align: center;
  flex-grow: 1;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
